<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Orders</a>
  <form class="form-inline">

    <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/orderform">Add new order</button>
  </form>

</nav>

<div class="table-responsive">
  <table class="table table-hover" id="myTable">
    <thead>
    <tr>

      <th scope="col">Order#</th>
      <th scope="col">Total Cost</th>
      <th scope="col">Date Created</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.totalCost}} BAM</td>
      <td>{{order.orderDate}}</td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-dark" routerLink="/orderDetails">View order-details</button>
  <nav class="navbar navbar-white bg-white">
    <a class="navbar-brand"> </a>
  </nav>

</div>
