<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Order details</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Orders #0001</h5>
    <form>
      <fieldset disabled>
        <div class="form-group ">
          <label for="inputState">Issue to</label>
          <select id="inputState" class="form-control">
            <option selected>Supplier 1</option>
            <option selected>Supplier 2</option>
            <option selected>Supplier 3</option>
            <option selected>Supplier 4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="disabledTextInput2">Issue date: </label>
          <input type="date" id="disabledTextInput2" class="form-control" placeholder="Dec 12 2018">
        </div>
      </fieldset>
    </form>


    <nav class="navbar navbar-white bg-white">
      <a class="navbar-brand"> </a>
    </nav>

    <div class="table-responsive">
      <table class="table table-hover" id="myTable">
        <thead>
        <tr>

          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price(KM)</th>
          <th scope="col">Total(KM)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Cotton T-shirt</td>
          <td>1</td>
          <td>55.00</td>
          <td>55.00</td>
        </tr>
        <tr>
          <td>Cocktail Dress</td>
          <td>3</td>
          <td>70.00</td>
          <td>210</td>
        </tr>
        <tr>
          <td>Silver Watch</td>
          <td>2</td>
          <td>490.00</td>
          <td>980.00</td>
        </tr>
        <tr>
          <td>Diamond Ring</td>
          <td>5</td>
          <td>750.00</td>
          <td>3.750</td>
        </tr>
        </tbody>
      </table>
    </div>

    <nav class="navbar navbar-white bg-white">
      <a class="navbar-brand"> </a>
    </nav>

    <form>
      <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput3">Total units: </label>
          <input type="text" id="disabledTextInput3" class="form-control" placeholder="7">
        </div>
        <div class="form-group">
          <label for="disabledTextInput4">Total(KM): </label>
          <input type="text" id="disabledTextInput4" class="form-control" placeholder="5.700">
        </div>
      </fieldset>
    </form>

    <a href="#" class="btn btn-primary">Edit order</a>
  </div>
</div>
