<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Order details</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Orders #0001</h5>
    <form>
      <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput2">Issue date: </label>
          <input type="text" id="disabledTextInput2" class="form-control" placeholder="Dec 12 2018">
        </div>
      </fieldset>
    </form>


    <nav class="navbar navbar-white bg-white">
      <a class="navbar-brand"> </a>
    </nav>

    <div class="table-responsive">
      <table class="table table-hover" id="myTable">
        <thead>
        <tr>

          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Supplier</th>
          <th scope="col">Price(KM)</th>
          <th scope="col">Total(KM)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orderDetail of orderDetails">
          <td>{{productMapper[orderDetail.productId]?.prodName}}</td>
          <td>{{orderDetail.orderedQuantity}}</td>
          <td>{{supplierMapper[productMapper[orderDetail.productId]?.supplierId]?.supplierName}}</td>
          <td>{{productMapper[orderDetail.productId]?.price}}</td>
          <td>{{orderDetail.orderedQuantity * productMapper[orderDetail.productId]?.price}}</td>

        </tr>
        </tbody>
      </table>
    </div>

    <nav class="navbar navbar-white bg-white">
      <a class="navbar-brand"> </a>
    </nav>

    <form>
      <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput3">Total units: </label>
          <input type="text" id="disabledTextInput3" class="form-control" placeholder="22">
        </div>
        <div class="form-group">
          <label for="disabledTextInput4">Total(KM): </label>
          <input type="text" id="disabledTextInput4" class="form-control" placeholder="473">
        </div>
      </fieldset>
    </form>

    <a href="#" class="btn btn-primary">Edit order</a>
  </div>
</div>
