
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active text-center"  href="#">New sale</a>
      </li>
    </ul>
  </div>
<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (submit)="submit()">
        <div class="card">
          <div class="card-header">Sales Details</div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col-6">
                <label>Name</label>
                <input class="form-control" formControlName="name" type="text">
                <span class="text-danger" *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                  Name is required! </span>
              </div>
              <div class="form-group col-6">
                <label>Organization</label>
                <input class="form-control" formControlName="organization" type="text">
              </div>
            </div>
          </div>
          <div class="card-header">Contact Information</div>
          <div class="card-body" formArrayName="contacts">
            <div class="row">
              <div class="col-6" *ngFor="let contact of contactFormGroup.controls; let i = index;">
                <div [formGroupName]="i" class="row">
                  <div class="form-group col-6">
                    <label>Product Name</label>
                    <select   [(ngModel)]="selectedLevel" class="form-control" formControlName="type" type="text">
                      <option value="product" *ngFor="let product of products" [ngValue]="product">{{product.prodName}}</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label>Contact Label</label>
                    <label class="form-control" formControlName="name" type="number">3</label>
                    <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['name'].touched && getContactsFormGroup(i).controls['name'].hasError('required')">
                      Label is required! </span>
                  </div>

                  <div class="form-group col-12">
                    <label>Email/Phone No.</label>
                    <input class="form-control" formControlName="value" type="text">
                  </div>
                  <div class="form-group col-12 text-right">
                    <button class="btn btn-danger" type="button" (click)="removeContact(i)"> Remove </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-12">
              <button class="btn btn-primary m-1" type="button" (click)="addContact()"> Add Product</button>
              <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Save User Profile </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
