<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">New order</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title"> </h5>
    <form>

      <div class="form-group ">
        <label for="inputState">Supplier</label>
        <select id="inputState" class="form-control">
          <option selected>Supplier 1</option>
          <option selected>Supplier 2</option>
          <option selected>Supplier 3</option>
          <option selected>Supplier 4</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputAddress2">Issue date</label>
        <input type="date" class="form-control" id="inputAddress2" placeholder="Issue date">
      </div>


      <button type="submit" class="btn btn-primary">Save order</button>
    </form>

  </div>
</div>

